@page "/shippingcart"
@inject ShoppingCartService Service


<h3>Shopping Cart</h3>

<input @bind="@_newGoods" />
<button @onclick="@Add">Add to My Cart</button>
<button @onclick="@Clear">Clear All Goods</button>

<table class="table">
    <thead>
        <tr>
            <th>Goods</th>
        </tr>
    </thead>
    <tbody>

        @if (_allGoods != null)
        {
            @foreach (var item in _allGoods)
            {
                <tr>
                    <td>@item</td>
                </tr>
            }
        }
    </tbody>

</table>


@code {

    private string _newGoods;

    private string[] _allGoods;

    protected override async Task OnInitializedAsync()
    {
        await this.GetAllGoods();
    }

    private async Task GetAllGoods()
    {
        var t = await Service.All();
        _allGoods = t.ToArray();
    }

    private async Task Add()
    {
        if (!string.IsNullOrWhiteSpace(_newGoods))
        {
            await Service.Add(_newGoods);
        }

        await this.GetAllGoods();
        this._newGoods = null;
    }

    private async Task Clear()
    {
        await this.Service.Clear();
        this._allGoods = null;
    }


}
