@page "/shoppingcart"
@inject HttpClient http;


<h3>Shopping Cart</h3>

<input @bind="@_newGoods" />
<button @onclick="@Add">Add to My Cart</button>
<button @onclick="@Clear">Clear All Goods</button>

<table class="table">
    <thead>
        <tr>
            <th>Goods</th>
        </tr>
    </thead>
    <tbody>

        @if (_allGoods != null)
        {
            @foreach (var item in _allGoods)
            {
                <tr>
                    <td>@item</td>
                </tr>
            }
        }
    </tbody>

</table>


@code {
    private readonly string _host = $"{Data.Host}/ShoppingCart";
    private string _newGoods;

    private string[] _allGoods;

    protected override async Task OnInitializedAsync()
    {
        await GetAllGoods();
    }

    private async Task GetAllGoods()
    {
        var t = await http.GetJsonAsync<string[]>($"{_host}/All");
        _allGoods = t.ToArray();
    }

    private async Task Add()
    {
        if (!string.IsNullOrWhiteSpace(_newGoods))
        {
            await http.PostJsonAsync($"{_host}/Add", _newGoods);
        }

        await GetAllGoods();
        _newGoods = null;
    }

    private async Task Clear()
    {
        await http.PostAsync($"{_host}/clear", null);
        _allGoods = null;
    }


}